extends layout

block content
  h3.header="Warcraft II Components"
  div.content

  script(src='/components/jquery/jquery.js')
  script(src='/components/es5-shim/es5-shim.js')
  script(src='/components/es5-shim/es5-sham.js')
  script(src='/components/handlebars/handlebars.js')
  script(src='/components/requirejs/require.js', data-main='main')