doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/components/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/components/bootstrap/css/bootstrap.css')
  body
    block content