body {
  padding:20px;
  position:relative;
}

.unit {
  width:100px;
  height:100px;
  position:absolute;
  border:solid 1px gray;
}

/* --------------------------- */
/* Sprite classes */
/* --------------------------- */

.sprite {
  width:40px;
  height:45px;
  position:absolute;
  top:30px;
  left:30px;
  cursor:pointer;
}

.sprite .dot {
  position:absolute;
  left:20px;
  height:1px;
  width:1px;
  background-color:#f00;
}

.footman {
  background: url('/images/sprites/footman.png') no-repeat;
}

.footman.step-down{
  background-position: -315px -12px;
}

.footman.walk-left-1{
  background-position: -4px -60px;
}

.footman.walk-left-2{
  background-position: -51px -60px;
}

.footman.walk-left-3{
  background-position: -103px -60px;
}

.footman.walk-left-4{
  background-position: -153px -60px;
}

.footman.walk-right {
  background-position: -8px -106px;
}

.footman.walk-up {
  background-position: -9px  -160px;
}

.footman.walk-down.1 {
  background-position: -4px -2px;
}

/* --------------------------- */
/* Direction buttons */
/* --------------------------- */

.direction {
  cursor:pointer;
  position:absolute;
  /*background-color:#7ED7F7;*/
}

.direction:hover {
  background-color: #5897AD;
}

.top {
  top:0;
  height:30px;
}

.right {
  width:30px;
  left:70px;
}

.bottom {
  top:70px;
  height:30px;
}

.left {
  left:0;
  width:30px;
}

.top.center,
.bottom.center {
  left:30px;
  width:40px;
}

.left.center,
.right.center {
  height:40px;
  top:30px;
}

.flip {
  -webkit-transform:scaleX(-1);
  -moz-transform:scaleX(-1);
  -ms-transform:scaleX(-1);
  -o-transform:scaleX(-1);
  transform:scaleX(-1);
}